/*
	Inserta tu CSS aqui
*/




body
    {
    margin: 0;
    }

img-responsive
    {
    width: 100%;
    }
.logo{
    width: 100%;
    
}

.logo img{
   width: 70%;
    position: relative;
    left: 150px;
    top: 100px;
}
header
    {
    background-image: url(../img/grupal.jpg);
	background-size: cover;
	height: 750px;
} 
button{
	border-radius: 6;
	border-radius: 6;
	border-radius: 6px;
	background: #FCB739;
	padding: 10px;
	margin-top: 50px;
	width: 150px;
	margin-left: 40px;
}
  .menu li{
	list-style: none;
	display: inline-block;
	margin-top: 55px;
    text-decoration: none;
	color: black;
	margin-right:15px;
  	text-decoration: none;
	color: black;
	margin-right:15px;
    font-size: 20px;
}  






.foto{
	width: 90%;
	margin-top: 20px;
    padding:10px;
}


footer{
	background-color: #3E3F40;
	margin-top: 12px;
    padding-left: 30px;
    
    
}

 p{
	color: white;
	font-size: 20px;
	padding: 20px 0;
}

